#header {
    background: #222!important;
}
#select_document {
    background: #666!important;
}
input[name=baseUrl] {  
    display: none!important;
}
.logo__title {
    display: none!important;
}
#api_info a {
    color: #007bff!important;
    text-decoration: none!important;
}
#api_info a:hover,
#api_info a:focus,
#api_info a:active {
    color: #0056b3!important;
    text-decoration: underline!important;
}

.swagger-ui .topbar {
    background: #868282; /*dadada*/
	
}
.swagger-ui .topbar a span {
    margin: 0;
    padding: 0 10px;
    display: none;
}

.swagger-ui img {
    width: 179px;
	height: 50px;
}

.swagger-ui .opblock .opblock-summary-description {
    color: #ef701f;
	text-align: right;
	font-weight: bold;
}

.swagger-ui .opblock.opblock-get {
    background: #f3f3f3;
}

.swagger-ui .opblock.opblock-post {
    background: #f3f3f3;
}

.swagger-ui .opblock.opblock-put {
    background: #f3f3f3;
}

.swagger-ui .opblock.opblock-delete {
    background: #f3f3f3;
}

.swagger-ui .scheme-container {
    margin: 0 0 13px;
    padding: 1px 0;
}
.swagger-ui .info {
    margin: 18px 0;
}